<div class="alert {{ messages['level'] }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 id="oh-snap!-you-got-an-error!">{{ messages['title'] }}<a class="anchorjs-link" href="#oh-snap!-you-got-an-error!"><span class="anchorjs-icon"></span></a></h4>

    <p>{{ messages['message'] }}</p>

    <p>
        <button type="button" class="btn btn-danger">더미버튼</button>
        <button type="button" class="btn btn-default">더미버튼</button>
    </p>
</div>