<table  data-add-focus-btn="true" data-pattern="priority-columns" data-add-display-all-btn="true" class="table-responsive table table-small-font table-bordered table-striped" id="dataTable">

    {% if True %}
        <thead>
        <tr>
            {% for colname in header %}
                <th>{{ colname }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tfoot>
        <tr>
            {% for colname in header %}
                    <th>{{ colname }}</th>
            {% endfor %}
        </tr>
        </tfoot>
        <tbody>
        {% for row in rows %}
            <tr>
                {% for cell in row %}

                    {% if loop.index == 3  %}
                        <td>{{ ' '.join(cell.split(' ')[2:]) }}</td>
                    {% else %}
                        <td>{{ cell }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    {% endif %}

</table>