<table  data-add-focus-btn="true" data-pattern="priority-columns" data-add-display-all-btn="true" class="table-responsive table table-small-font table-bordered table-striped" id="dataTable">

    {% if True %}
        <thead>
        <tr>
            {% for colname in header %}
                <th>{{ colname }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tfoot>
        <tr>
            {% for colname in header %}
                {% if loop.index <= 5  %}
                    <th>{{ colname }}</th>
                {% else %}
                    <th class="tablesaw-swipe-cellhidden">{{ colname }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        </tfoot>
        <tbody>
        {% for row in rows %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    {% endif %}

</table>