{% extends "base.html" %}
{# override blocks with includes#}
{#{% block iconcards %}#}
{#    {% include "iconcards.html" %}#}
{#{% endblock %}#}
{% block areachart %}
    {% include "areacharts.html" %}
{% endblock %}
{% block barchart %}
    {% include "barcharts.html" %}
{% endblock %}
{% block socialfeeds %}
    {% include "socialfeeds.html" %}
{% endblock %}
{% block piechart %}
    {% include "piecharts.html" %}
{% endblock %}
{% block notification_card %}
    {% include "notification.html" %}
{% endblock %}
{% block datatable %}
    {% include"tables.html" %}
{% endblock %}

{% block logout %}
    {% include"logout.html" %}
{% endblock %}