##########################################################
#
# This is a sample flask.cfg for developing a Flask application
#
##########################################################
import os


# Get the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))


TEMPLATES_AUTO_RELOAD = True,

# Update later by using a random number generator and moving
# the actual key outside of the source code under version control
SECRET_KEY = 'bad_secret_key'
WTF_CSRF_ENABLED = True
DEBUG = True

# SQLAlchemy
# utf8mb4  https://stackoverflow.com/a/20349552
# unicode http://docs.sqlalchemy.org/en/latest/dialects/mysql.html?highlight=charset#unicode-encoding-decoding
SQLALCHEMY_DATABASE_URI = 'mysql+mysqldb://root:0@db/used_car?charset=utf8mb4'
SQLALCHEMY_TRACK_MODIFICATIONS = False
